/* Icons ---------------------------------- */
input.name-icon{
    background: #ffffff url(/resources/img/icons/user91.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

input.tool-icon{
    background: #ffffff url(/resources/img/icons/hammer2.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

input.comment-icon{
    background: #ffffff url(/resources/img/icons/write13.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

input.notes-icon{
    background: #ffffff url(/resources/img/icons/speechbubble47.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

input.description-icon{
    background: #ffffff url(/resources/img/icons/edit45.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

input.category-icon{
    background: #ffffff url(/resources/img/icons/medical50.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
}

/* Icons for details ---------------------------------- */

.tool-icon {
    background: url(/resources/img/icons/hammer2.svg) no-repeat;
    background-size: 20px 20px;
}

.notes-icon{
    background: url(/resources/img/icons/speechbubble47.svg) no-repeat ;
    background-size: 20px 20px;
}

.description-icon{
    background: url(/resources/img/icons/edit45.svg) no-repeat;
    background-size: 20px 20px;
}

.category-icon{
    background: url(/resources/img/icons/medical50.svg) no-repeat;
    background-size: 20px 20px;
}
