/*Styles for Tablet*/
@media screen  and (max-width: 979px) {

    #logoContainer {
        width: 145px;
        margin-right: 20px;
    }

    .settings-container {
        width: 90%;
    }

    nav ul a {
        width: 80px;
    }

    .form-icon-image {
        display: none;
    }

    nav {
        margin-top: 0;
    }

    nav ul li {
        width: 75px;
    }

    .menu {
        width: 380px;
    }
}

/*Styles for Smartphones*/
@media screen and (max-width: 601px) {

    #logoContainer {
        width: 200px;
    }

    .settings-container {
        width: 100%;
    }

    .cmn-toggle-switch {
        display: block;
        z-index: 3;
        position: absolute;
        right: 1px;
        top: 2px;
    }

    #logo {
        float: left;
        margin: 5px;
    }

    .removeIcons {
        display: none;
    }


    nav ul li:last-child a {
        border-right: .09em solid #fff;
    }

    /* RESPONSIVE TABLE STYLES */

    form.table-form {
        width: 100%;
    }

    .column-for-button .btn_small {
        height: 25px;
        width: 100px;
    }

    .ui-progressbar {
        display: inline-block;
        width: 60%;
    }

    /* RESPONSIVE INPUT STYLES */
    p {
        width: 100%;
    }
    #form-div {
        width: 95%;
    }
    form {
        width: 100%;
    }
    .card-input {
        width: 100%;
    }
    .card-dropdown {
        width: 100%;
    }

    .card-button {
        width: 100%;
    }

    nav {
        border-bottom: 0;
        height: auto;
    }

    .content {
        width: 95%;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 98vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.96);
        transition: all 0.2s linear;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        width: 100%;
    }

    nav {
        display: block;
    }

    .hide {
        opacity: 1;
    }

    .details-container table {
        width: 100%;
    }

    td .ui-inputfield {
        width: 90%;
    }

    td label {
        width: 70%;
        font-size: 0.8em;
    }

    .ui-inplace a {
        padding: 4px 5px 4px 5px;
        font-size: 0.8em;
        font-weight: 600;
    }

    .ui-inplace-display {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    table td {
        /*font-size: smaller;*/
        height: 28px;
    }
    .ui-progressbar {
        display: inline-block;
    }
}