<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pt="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
        >
<h:head>
    <title>Tool Trackzer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <h:outputStylesheet library="css" name="normalize.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="media-queries.css"/>
    <h:outputStylesheet library="css" name="icons.css"/>
</h:head>

<h:body>

    <!-- Notifications -->
    <h:panelGroup layout="block" id="notification-box" styleClass="#{messageBean.notificationType}">
        <div class="notification-message">
            <h1>#{messageBean.notificationHeader}</h1>

            <p>
                #{messageBean.notificationMessage}
            </p>
        </div>
    </h:panelGroup>

    <h:panelGroup id="prompt-box" layout="block" styleClass="#{messageBean.promptType}">
        <div class="prompt-message">
            <h1>#{messageBean.promptHeader}</h1>

            <p>
                #{messageBean.promptMessage}
            </p>
            <p:commandButton styleClass="card-button btn-neutral" update="prompt-box" action="#{messageBean.closePromptMessage}" value="Close this window"/>
        </div>
    </h:panelGroup>

    <!-- Global dialog -->
    <p:confirmDialog global="true" width="370px" styleClass="confirm-dialog" header="Confirm" closeOnEscape="true">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes dialog-button btn-add"
                         icon="ui-icon-check"/>
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no dialog-button btn-back"
                         icon="ui-icon-close"/>
    </p:confirmDialog>

    <!-- Navigation -->
    <h:panelGroup id="nav-menu" rendered="#{view.viewId != ('/login.xhtml') and view.viewId != ('/resetpassword.xhtml')}">
        <nav class="clearfix">

            <a href="home.jsf" id="logolink">
                <img id="logo" src="/resources/img/Tool-Hub-logo.png"/>
            </a>

            <p id="logoContainer">
                <h:outputLink value="home.jsf">
                    <span style="color: #5ecfcc; font-weight: 900;">TOOL</span>
                    <span style="font-weight: 900; margin-left: -6px">HUB</span>
                </h:outputLink>
            </p>
            <ul class="#{view.viewId == '/login.xhtml' ? '' : 'menu'}">
                <li class="#{view.viewId == '/home.xhtml' ? 'active' : ''}"><a href="home.jsf">Home</a></li><li class="#{view.viewId == '/tools.xhtml' ? 'active' : ''}"><a href="tools.jsf">Tools</a></li><li class="#{view.viewId == '/user.xhtml' ? 'active' : ''}"><a href="user.jsf">
                    <c:choose>
                        <c:when test="#{sessionBean.sessionUser.userType eq 'admin'}">
                            Users
                        </c:when>
                        <c:otherwise>
                            #{sessionBean.sessionUser.userName}
                        </c:otherwise>
                    </c:choose>
                </a></li><li class="#{view.viewId == '/garage.xhtml' ? 'active' : ''}"><a href="garage.jsf">Garage</a></li><li><h:form><h:commandLink action="#{sessionBean.logout}" value="Log out"/></h:form></li>
            </ul>
            <button class="cmn-toggle-switch__htx #{view.viewId == '/login.xhtml' ? '' : 'cmn-toggle-switch'}">
                <span>toggle menu</span>
            </button>
        </nav>
    </h:panelGroup>
    <!-- Main content -->
    <div class="container">
        <ui:insert name="content">
            <!-- CONTENT GOES HERE -->
        </ui:insert>

    </div>

    <!-- Settings Menu -->
    <h:panelGroup rendered="#{view.viewId != '/login.xhtml' and view.viewId != '/settings.xhtml'
            and sessionBean.sessionUser.userType eq 'admin'}">
        <p:commandLink id="settings-menu" action="#{navigationBean.toSettings}">
            <h:graphicImage name="img/icons/cog.png" style="width: 60px;" />
        </p:commandLink>
    </h:panelGroup>

    <h:outputScript name="js/menu.js"/>
    <h:outputScript name="js/scripts.js"/>

</h:body>
</html>
