<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <div class="accordion-container">
            <h:panelGroup rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                <p/>
                <button id="btn_plusGarage" class="card-button btn-add">+ Garage</button>
                <section id="add-garage" class="card-container accent-color slider closed">
                    <div class="card">

                        <div id="form-div">
                            <h:form id="create-garage-form" rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                                <p>
                                    <h:inputText id="newGarageName"
                                            type="text"
                                            styleClass="card-input"
                                            required="true"
                                            a:placeholder="Garage name"
                                            requiredMessage="Garage name required!"
                                            value="#{garageBean.newGarage.garageName}"/>
                                    <h:message for="newGarageName" errorClass="requiredErrorMessage point" style="color: red" />
                                </p>

                                <p>
                                    <h:inputText id="newGarageLocation"
                                            type="text"
                                            styleClass="card-input"
                                            required="true"
                                            a:placeholder="Location!"
                                            requiredMessage="Location required!"
                                            value="#{garageBean.newGarage.location}"/>
                                    <h:message for="newGarageLocation" errorClass="requiredErrorMessage point" style="color: red" />
                                </p>

                                <p>
                                    <h:inputText id="newGarageNotes"
                                            type="text"
                                            styleClass="card-input"
                                            required="true"
                                            a:placeholder="Notes!"
                                            requiredMessage="Notes required!"
                                            value="#{garageBean.newGarage.notes}"/>
                                    <h:message for="newGarageNotes" errorClass="requiredErrorMessage point" style="color: red" />
                                </p>

                                <p class="text">
                                    <p:commandButton
                                            action="#{garageBean.createNewGarage}"
                                            styleClass="card-button btn-add submit"
                                            value="Create garage!"
                                            ajax="true"
                                            update="garage-list-form create-garage-form notification-box"/>
                                </p>
                            </h:form>
                        </div>
                    </div>
                </section>
            </h:panelGroup>
        </div>
        <br/>
        <section class="card-container">
            <div class="card">

                <h:form styleClass="table-form" id="garage-list-form" onkeypress="if (event.keyCode == 13) {return false; }"
                        rendered="#{not empty garageBean.garageList}">
                    <p:dataTable
                            id="garageDataTable"
                            value="#{garageBean.garageList}"
                            var="garage"
                            widgetVar="garageTable"
                            filterDelay="400"
                            reflow="true"
                            rows="10"
                            paginator="true"
                            paginatorPosition="top"
                            tableStyle="table-layout: auto;"
                            styleClass="borderless">

                        <!-- Global search field -->
                        <f:facet name="header">
                            <p:inputText id="globalFilter" placeholder="Filter table"
                                         onkeyup="toolSearchTrigger('garageTable')"/>
                        </f:facet>

                        <!-- Tool ID column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{garage.id}" sortBy="#{garage.id}">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{garage.id}"/>
                        </p:column>

                        <!-- Tool name column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{garage.garageName}" sortBy="#{garage.garageName}">
                            <f:facet name="header">Name</f:facet>
                            <h:outputText value="#{garage.garageName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{garage.location}" sortBy="#{garage.location}">
                            <f:facet name="header">Location</f:facet>
                            <h:outputText value="#{garage.location}"/>
                        </p:column>

                        <!-- Last Column, with the detail button - only clickable if admin -->
                        <p:column styleClass="column-for-button" exportable="false">
                            <f:facet name="header">Details</f:facet>
                            <h:commandButton value="View/Edit" styleClass="card-button btn-neutral btn_small"
                                             action="#{garageDetailBean.navigateToDetail(garage)}"/>
                        </p:column>

                        <!-- Download links for Excel and PDF files -->
                        <f:facet name="footer">
                            <br/>
                            <h:outputText value="Download Table Data"/>
                            <br/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/excel.png" width="32"/>
                                <p:dataExporter type="xls" target="garageDataTable" fileName="tools"/>
                            </h:commandLink>
                            <p:spacer width="10"/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/pdf.png" width="24"/>
                                <p:dataExporter type="pdf" target="garageDataTable" fileName="tools"/>
                            </h:commandLink>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </div>
        </section>
    </ui:define>

</ui:composition>