<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/default.xhtml">


    <ui:define name="content">

        <f:event type="preRenderView" listener="#{sessionBean.updateUserTools}" />

        <section class="home-container">
        <!-- Card 1 -->
            <div class="card">
                <img class="removeIcons" src="/resources/img/take_tool_graphic.png" style="height: 200px; width: 200px; margin-right: 100px;"/>
                <div class="content">
                    <h:form id="checkoutForm" styleClass="form-content">
                        <h:inputText
                                id="idInput"
                                type="number"
                                styleClass="card-input"
                                required="true"
                                requiredMessage="Please input a tool ID!"
                                value="#{sessionBean.toolCheckoutId}"
                                />
                        <p:watermark for="idInput" value="Enter tool ID..."/>
                        <p:commandButton
                                action="#{sessionBean.setToolStagedForTake()}"
                                oncomplete="PF('cd').show()"
                                styleClass="card-button btn-add"
                                value="Take Tool"
                                update="conform-dialog"
                                ajax="true">
                        </p:commandButton>
                    </h:form>
                </div>
            </div>

        <!-- Card 2 -->
            <div class="card">
                <img class="removeIcons" src="/resources/img/return_tool_graphic.png" style="height: 200px; width: 200px; margin-right: 100px;"/>
                <div class="content">

                    <h:form id="return-form" styleClass="form-content">
                        <h:selectOneMenu
                                styleClass="card-dropdown"
                                value="#{sessionBean.stageToolForTakeout}"
                                converter="com.awesomegroup.converter.ToolConverter"
                                id="toolList">
                            <f:selectItems
                                    value="#{sessionBean.userTools}"
                                    var="t"
                                    itemValue="#{t}"
                                    itemLabel="#{t.id} - #{t.toolName}"/>
                            <f:ajax listener="#{sessionBean.toolSelectedForReturn}" render="@form"/>
                        </h:selectOneMenu>

                        <h:selectOneMenu
                                styleClass="card-dropdown"
                                style="margin-top: 0"
                                value="#{sessionBean.stageGarageForTakeout}"
                                converter="com.awesomegroup.converter.GarageConverter"
                                id="garageList">
                            <f:selectItems
                                    value="#{sessionBean.garageList}"
                                    var="g"
                                    itemValue="#{g}"
                                    itemLabel="#{g.garageName}"/>
                        </h:selectOneMenu>

                        <p:commandButton
                                action="#{sessionBean.checkInTool()}"
                                styleClass="card-button btn-back"
                                value="Return Tool"
                                ajax="true"
                                update="return-form notification-box garageList"
                                >
                            <f:ajax render="@form"/>
                        </p:commandButton>
                    </h:form>
                </div>
            </div>
        </section>

        <!-- Confirm Dialog for Checkout Tool -->
        <!-- (this can be placed anywhere in this document since it appends itself to "checkoutForm" when called) -->
        <p:confirmDialog id="conform-dialog"
                         widgetVar="cd"
                         header="Confirm"
                         closeOnEscape="true"
                         width="370px"
                         styleClass="confirm-dialog">

            <ui:param name="toolName" value="#{sessionBean.toolCheckoutId == null ? '' : sessionBean.toolStagedForTake.toolName}" />
            <!-- Checks if user has tool in inventory -->
            <ui:param name="userHasTool" value="#{sessionBean.userTools.contains(sessionBean.toolStagedForTake)}" />

            <!-- Message to display in dialog -->
            <f:facet name="message">
                <c:if test="#{userHasTool}">
                    <h:outputText value="You cannot take"/>
                    <h2><h:outputText value="#{toolName}"/></h2>
                    <h:outputText value="Error: Tool is already in your inventory"/>
                </c:if>

                <c:if test="#{sessionBean.toolStagedForTake == null}">
                    <h:outputText value="You cannot take tool"/>
                    <h2><h:outputText value="#{toolName}"/></h2>
                    <h:outputText value="Error: Could not find tool"/>
                </c:if>

                <c:if test="#{sessionBean.toolStagedForTake ne null and !userHasTool}">
                    <h:outputText value="You are about to take tool:"/>
                    <h2><h:outputText value="#{toolName}"/></h2>
                </c:if>
            </f:facet>

            <!-- Buttons -->
            <c:if test="#{sessionBean.toolStagedForTake ne null and !userHasTool}">
                <p:commandButton
                        action="#{sessionBean.checkOutTool()}"
                        styleClass="dialog-button btn-add"
                        value="Take Tool"
                        oncomplete="PF('cd').hide();"
                        update="return-form notification-box checkoutForm"
                        ajax="true"/>

                <p:commandButton
                        value="Cancel"
                        styleClass="dialog-button btn-back"
                        onclick="PF('cd').hide();"
                        type="button"/>
            </c:if>

            <c:if test="#{sessionBean.toolStagedForTake eq null or userHasTool}">
                <p:commandButton
                        action="#{sessionBean.invalidateStagedTool()}"
                        update="return-form notification-box"
                        styleClass="dialog-button btn-add"
                        value="Ok"
                        oncomplete="PF('cd').hide();"/>
            </c:if>
        </p:confirmDialog>

    </ui:define>
</ui:composition>