<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <f:metadata>
            <f:viewParam name="token" value="#{resetPasswordBean.resetPasswordToken}"/>
        </f:metadata>
        <h:panelGroup layout="block" styleClass="card login" rendered="#{empty resetPasswordBean.resetPasswordToken}">
            <h:form styleClass="form-content">
                <h3>Please fill in your mail adress</h3>
                <h:inputText binding="#{email}"/>
                <h:commandButton styleClass="card-button btn-add" value="Reset Password" action="#{userBean.resetPassword(email.value)}"/>
            </h:form>
        </h:panelGroup>

        <h:panelGroup layout="block" style="position:relative; top:-50%; transform:translateY(50%);" rendered="#{not empty resetPasswordBean.resetPasswordToken}">
            <h:form styleClass="form-content">
                <div>
                    <h:inputText id="username"
                                 value="#{resetPasswordBean.userName}"
                                 styleClass="card-input"
                                 required="true"
                                 requiredMessage="Valid username is required"
                                 a:placeholder="username"
                                 a:autofocus="true"/>
                    <h:message for="username" errorClass="requiredErrorMessage point" style="color: red"/>
                </div>
                <p>
                    <p:password id="newPassword"
                                type="text"
                                styleClass="card-input description-icon"
                                required="true"
                                a:placeholder="Password"
                                requiredMessage="Password required!"
                                value="#{resetPasswordBean.newPassword}"
                                match="repeatPassword"
                                validatorMessage="Passwords must match!"/>
                    <h:message for="newPassword" errorClass="requiredErrorMessage point"
                               style="color: red"/>
                </p>

                <p>
                    <p:password id="repeatPassword"
                                type="text"
                                styleClass="card-input description-icon"
                                a:placeholder="Repeat password"
                                requiredMessage="You need to repeat password!"
                                value="#{resetPasswordBean.repeatPassword}"
                                validatorMessage="Passwords must match!"/>
                    <h:message for="newPassword" errorClass="requiredErrorMessage point"
                               style="color: red"/>
                </p>
                <h:commandButton
                        action="#{resetPasswordBean.changeToNewPassword}"
                        styleClass="card-button btn-add submit"
                        value="Change password!"
                        update="notification-box"
                        ajax="false"/>
            </h:form>
        </h:panelGroup>

    </ui:define>
</ui:composition>
