<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/default.xhtml">


    <ui:define name="content">
        <div class="settings-container">

            <p:panelGrid id="output" columns="2" columnClasses="settings-column-1,settings-column-2">

                <h:outputText value="Send weekly emails for inactive tools"/>

                <p:inputSwitch id="value2" onLabel="On" offLabel="Off" value="#{sessionBean.sendWeeklyMail}">
                    <p:ajax listener="#{sessionBean.updateMailSetting}"/>
                </p:inputSwitch>

            </p:panelGrid>

        </div>
    </ui:define>

</ui:composition>