<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <div class="accordion-container">
            <h:panelGroup rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                <p/>
                <button id="btn_plusTool" class="card-button btn-add">+ Tool</button>
                <section id="add-tool" class="card-container accent-color slider closed">
                    <div class="card">

                        <div id="form-div">


                            <h:form id="create-sessionUser-form">
                                <p>
                                    <h:inputText id="newName"
                                                 type="text"
                                                 styleClass="card-input tool-icon"
                                                 required="true"
                                                 a:placeholder="Tool name"
                                                 requiredMessage="Tool name required!"
                                                 value="#{toolBean.newTool.toolName}"/>
                                    <h:message for="newName" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p:autoComplete
                                        styleClass="card-input"
                                        id="newCat"
                                        required="true"
                                        a:placeholder="Category"
                                        requiredMessage="Tool category required!"
                                        maxResults="5"
                                        value="#{toolBean.newTool.category}"
                                        completeMethod="#{toolBean.completeText}"
                                        widgetVar="foo"
                                        onclick="PF('foo').search(PF('foo').input.val())"
                                        />
                                <h:message for="newCat" errorClass="requiredErrorMessage point" style="color: red"/>

                                <p class="text">
                                    <h:inputText id="newDesc"
                                                 type="text"
                                                 styleClass="card-input description-icon"
                                                 required="true"
                                                 a:placeholder="Description"
                                                 requiredMessage="Description required!"
                                                 value="#{toolBean.newTool.description}"/>
                                    <h:message for="newDesc" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>


                                <p class="text">
                                    <h:inputText
                                            type="text"
                                            styleClass="card-input notes-icon"
                                            required="false"
                                            a:placeholder="Notes"
                                            value="#{toolBean.newTool.notes}"/>
                                </p>

                                <p class="text">
                                    <h:selectOneMenu binding="#{garageId}"
                                                     style="margin-top: 8px"
                                                     styleClass="card-dropdown">
                                        <f:selectItems value="#{garageBean.garageList}"
                                                       var="g"
                                                       itemValue="#{g.id}"
                                                       itemLabel="#{g.garageName}"/>
                                    </h:selectOneMenu>
                                </p>

                                <p class="text">
                                    <p:commandButton
                                            action="#{toolBean.createTool(garageId.value)}"
                                            styleClass="card-button btn-add submit"
                                            value="Create tool"
                                            update="tool-list-form prompt-box create-sessionUser-form"
                                            ajax="true"/>
                                </p>
                            </h:form>
                        </div>
                    </div>
                </section>
            </h:panelGroup>
        </div>
        <br/>
        <section class="card-container">
            <div class="card">

                <h:form styleClass="table-form" id="tool-list-form" rendered="#{not empty toolBean.tools}"
                        onkeypress="if (event.keyCode == 13) {return false; }">
                    <p:dataTable
                            id="toolDataTable"
                            value="#{toolBean.tools}"
                            var="tool"
                            widgetVar="toolTable"
                            filterDelay="400"
                            reflow="true"
                            scrollable="true"
                            scrollHeight="400"
                            tableStyle="table-layout: auto;"
                            styleClass="borderless">

                        <!-- Global search field -->
                        <f:facet name="header">
                            <p:inputText id="globalFilter"
                                         placeholder="Filter table"
                                         onkeyup="toolSearchTrigger('toolTable')"/>
                        </f:facet>

                        <!-- Tool ID column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.id}" sortBy="#{tool.id}">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{tool.id}"/>
                        </p:column>

                        <!-- Tool name column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.toolName}" sortBy="#{tool.toolName}">
                            <f:facet name="header">Name</f:facet>
                            <h:outputText value="#{tool.toolName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.category}" sortBy="#{tool.category}">
                            <f:facet name="header">Category</f:facet>
                            <h:outputText value="#{tool.category}"/>
                        </p:column>

                        <!-- Activity column -->
                        <p:column filterable="false" sortBy="#{toolBean.getActivityScore(tool)}" exportable="false">
                            <f:facet name="header">Activity</f:facet>
                            <p:progressBar value="#{toolBean.getActivityScore(tool)}" displayOnly="true"/>
                        </p:column>

                        <!-- Tool current user column -->
                        <!-- Only clickable if admin -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.user.firstName} #{tool.user.lastName}"
                                  sortBy="#{tool.user.lastName}">
                            <f:facet name="header">Current User</f:facet>
                            <h:commandLink action="#{userDetailBean.navigateToUserDetails(tool.user)}"
                                           disabled="#{sessionBean.sessionUser.userType eq 'user'}">
                                <h:outputText value="#{tool.user.firstName} #{tool.user.lastName}"/>
                            </h:commandLink>
                        </p:column>

                        <!-- Last Column, with the detail button - only clickable if admin -->
                        <p:column styleClass="column-for-button" exportable="false">
                            <c:choose>

                                <c:when test="#{sessionBean.sessionUser.userType eq 'admin'}">

                                    <f:facet name="header">Details</f:facet>
                                    <h:commandButton value="View/Edit" styleClass="card-button btn-neutral btn_small"
                                                     action="#{toolDetailBean.navigateToDetail(tool)}"/>
                                </c:when>
                                <c:otherwise>
                                    <f:facet name="header">Take tool</f:facet>
                                    <p:commandButton value="Take Tool"
                                                     action="#{sessionBean.setToolStagedForTake(tool)}"
                                                     styleClass="card-button btn-neutral btn_small"
                                                     oncomplete="PF('cd').show()"
                                                     update="conform-dialog"
                                                     ajax="true"/>
                                </c:otherwise>
                            </c:choose>
                        </p:column>

                        <!-- Download links for Excel and PDF files -->
                        <f:facet name="footer">
                            <br/>
                            <h:outputText value="Download Table Data"/>
                            <br/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/excel.png" width="32"/>
                                <p:dataExporter type="xls" target="toolDataTable" fileName="tools"/>
                            </h:commandLink>
                            <p:spacer width="10"/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/pdf.png" width="24"/>
                                <p:dataExporter type="pdf" target="toolDataTable" fileName="tools"/>
                            </h:commandLink>
                        </f:facet>
                    </p:dataTable>
                </h:form>

            </div>
        </section>

        <div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>, <a
                href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

        <p:confirmDialog appendTo="tool-list-form"
                         id="conform-dialog"
                         widgetVar="cd"
                         header="Confirm"
                         closeOnEscape="true"
                         width="370px"
                         styleClass="confirm-dialog">

            <ui:param name="toolName" value="#{sessionBean.toolStagedForTake.toolName}"/>
            <!-- Checks if user has tool in inventory -->
            <ui:param name="userHasTool" value="#{sessionBean.userTools.contains(sessionBean.toolStagedForTake)}"/>
            <!-- decides what type of buttons should be displayed -->

            <!-- Message to display in dialog -->
            <f:facet name="message">
                <c:if test="#{userHasTool}">
                    <h:outputText value="You cannot take tool"/>

                    <h2><h:outputText value="#{toolName}"/></h2>
                    <h:outputText value="It's already in your inventory"/>
                </c:if>

                <c:if test="#{!userHasTool}">
                    <h:outputText value="You are about to take tool:"/>

                    <h2><h:outputText value="#{toolName}"/></h2>
                </c:if>
            </f:facet>

            <!-- Buttons -->
            <c:if test="#{!userHasTool}">
                <p:commandButton
                        action="#{toolBean.checkoutToolFromTable()}"
                        styleClass="dialog-button btn-add"
                        value="Take Tool"
                        update=":tool-list-form:toolDataTable notification-box"
                        oncomplete="PF('cd').hide();"
                        ajax="true"/>

                <p:commandButton
                        value="Cancel"
                        styleClass="dialog-button btn-back"
                        onclick="PF('cd').hide();"
                        type="button"/>
            </c:if>

            <c:if test="#{userHasTool}">
                <p:commandButton
                        styleClass="dialog-button btn-add"
                        value="Ok"
                        oncomplete="PF('cd').hide();"/>
            </c:if>
        </p:confirmDialog>

    </ui:define>

</ui:composition>