<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/default.xhtml">


    <ui:define name="content">
        <!-- Card 1 -->

        <div class="card">
            <div class="details-container">
                <table style="width: 80%">
                    <tr>
                        <td class="column-left">
                            <label for="toolId">User ID</label>

                            <div class="tool-icon detail-label"></div>
                        </td>
                        <td>
                            <h:outputText id="toolId"
                                          value="#{userDetailBean.selectedUser.id}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="tool-icon detail-label"></div>
                            <label for="firstName">First Name</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="fNameChange"
                                           styleClass="detail-edit"
                                           id="firstName">
                                    <p:inputText value="#{userDetailBean.selectedUser.firstName}"
                                                 valueChangeListener="#{userDetailBean.handleFirstNameSave}"
                                            />
                                    <p:commandButton update="firstName notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('fNameChange').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="description-icon detail-label"></div>
                            <label for="lastName">Last name</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="lNameChange"
                                           styleClass="detail-edit"
                                           id="lastName">
                                    <p:inputText value="#{userDetailBean.selectedUser.lastName}"
                                                 valueChangeListener="#{userDetailBean.handleLastNameSave}"/>
                                    <p:commandButton update="lastName notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('lNameChange').cancel();"/>

                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="notes-icon detail-label"></div>
                            <label for="username">Username</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="uNameChange"
                                           styleClass="detail-edit"
                                           id="username">
                                    <p:inputText value="#{userDetailBean.selectedUser.userName}"
                                                 valueChangeListener="#{userDetailBean.handleLastNameSave}"/>
                                    <p:commandButton update="username notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('uNameChange').cancel();"/>

                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="notes-icon detail-label"></div>
                            <label for="userType">Usertype</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="uTypeChange"
                                           styleClass="detail-edit"
                                           id="userType">
                                    <p:inputText value="#{userDetailBean.selectedUser.userType}"
                                                 valueChangeListener="#{userDetailBean.handleUserTypeSave}"/>
                                    <p:commandButton update="userType notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('uTypeChange').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                </table>

                <h:form>
                    <p:commandButton value="Delete user!" styleClass="card-button btn-back btn_small"
                                     action="#{userDetailBean.deleteUser}">
                        <p:confirm header="Confirmation" message="You are about to delete
                            #{userDetailBean.selectedUser.firstName} #{userDetailBean.selectedUser.lastName}.
                            Are you sure about this?" />
                    </p:commandButton>
                </h:form>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="content-noflex">
            <div id="history-graph-content">
                <pe:timeline
                        id="timeline"
                        value="#{userDetailBean.historyModel}"
                        height="300px"/>

            </div>

        </div>
    </ui:define>

</ui:composition>