<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <div class="accordion-container">
            <h:panelGroup rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                <p/>
                <button id="btn_plusUser" class="card-button btn-add">+ User</button>
                <section id="add-user" class="card-container accent-color slider closed">
                    <div class="card">
                        <div id="form-div">
                            <h:form id="create-user-form" rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                                <p>
                                    <h:inputText id="newFirstName"
                                                 type="text"
                                                 styleClass="card-input name-icon"
                                                 required="true"
                                                 a:placeholder="First name"
                                                 requiredMessage="First name required!"
                                                 value="#{userBean.newUser.firstName}"/>
                                    <h:message for="newFirstName" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p>
                                    <h:inputText id="newLastName"
                                                 type="text"
                                                 styleClass="card-input name-icon"
                                                 required="true"
                                                 a:placeholder="Last name"
                                                 requiredMessage="Last name required!"
                                                 value="#{userBean.newUser.lastName}"/>
                                    <h:message for="newLastName" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p>
                                    <h:inputText id="newUserName"
                                                 type="text"
                                                 styleClass="card-input notes-icon"
                                                 required="true"
                                                 a:placeholder="Username"
                                                 requiredMessage="Username required!"
                                                 value="#{userBean.newUser.userName}"/>
                                    <h:message for="newUserName" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p>
                                    <h:inputText id="newUserEmail"
                                                 type="text"
                                                 styleClass="card-input notes-icon"
                                                 required="true"
                                                 a:placeholder="Email"
                                                 requiredMessage="Email required!"
                                                 value="#{userBean.newUser.email}"/>
                                    <h:message for="newUserEmail" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p class="text">
                                    <h:selectOneMenu value="#{userBean.newUser.userType}"
                                                     styleClass="card-dropdown selectMenu">
                                        <f:selectItem itemValue="user" itemLabel="User" style="padding: 80px"/>
                                        <f:selectItem itemValue="admin" itemLabel="Admin"/>
                                    </h:selectOneMenu>
                                </p>

                                <p>
                                    <p:password id="newPassword"
                                                type="text"
                                                styleClass="card-input description-icon"
                                                required="true"
                                                a:placeholder="Password"
                                                requiredMessage="Password required!"
                                                value="#{userBean.newUser.password}"
                                                match="repeatNewPassword"
                                                validatorMessage="Passwords must match!"/>
                                    <h:message for="newPassword" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p>
                                    <p:password id="repeatNewPassword"
                                                type="text"
                                                styleClass="card-input description-icon"
                                                a:placeholder="Repeat password"
                                                requiredMessage="You need to repeat password!"
                                                value="#{userBean.newUser.password}"
                                                validatorMessage="Passwords must match!"/>
                                    <h:message for="newPassword" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p class="text">
                                    <p:commandButton
                                            action="#{userBean.createNewUser}"
                                            styleClass="card-button btn-add submit"
                                            value="Create user"
                                            update="create-user-form tool-list-form"
                                            ajax="true"/>
                                </p>
                            </h:form>

                        </div>
                    </div>
                </section>
            </h:panelGroup>

            <h:panelGroup>
                <p/>
                <button id="btn_changePassword" class="card-button btn-add">Change Password</button>
                <section id="change-password" class="card-container accent-color slider closed">
                    <div class="card">

                        <div id="password-div">
                            <h:form id="change-password-form">
                                <p>
                                    <h:inputSecret id="changeOldPassword"
                                                   type="text"
                                                   styleClass="card-input description-icon"
                                                   required="true"
                                                   a:placeholder="Old password"
                                                   requiredMessage="Old password required!"
                                                   value="#{sessionBean.passwords[0]}"/>
                                    <h:message for="changeOldPassword" errorClass="requiredErrorMessage point"
                                               style="color: red"/>

                                </p>

                                <p>
                                    <h:inputSecret
                                            id="changeNewPassword"
                                            type="text"
                                            styleClass="card-input description-icon"
                                            required="true"
                                            a:placeholder="New password"
                                            requiredMessage="New password required!"
                                            value="#{sessionBean.passwords[1]}"/>
                                    <h:message for="changeNewPassword" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p>
                                    <h:inputSecret
                                            id="changeConfirmPassword"
                                            type="text"
                                            styleClass="card-input description-icon"
                                            required="true"
                                            a:placeholder="Confirm password"
                                            requiredMessage="Confirmation required!"
                                            value="#{sessionBean.passwords[2]}"/>
                                    <h:message for="changeConfirmPassword" errorClass="requiredErrorMessage point"
                                               style="color: red"/>
                                </p>

                                <p class="text">
                                    <p:commandButton
                                            action="#{sessionBean.changePassword}"
                                            styleClass="card-button btn-add submit"
                                            value="Change password"
                                            update="change-password-form notification-box"
                                            ajax="true"/>
                                </p>
                            </h:form>
                        </div>
                    </div>
                </section>
            </h:panelGroup>
        </div>

        <br/>
        <section class="card-container">
            <div class="card">

                <h:form styleClass="table-form" id="tool-list-form"
                        onkeypress="if (event.keyCode == 13) {return false; }"
                        rendered="#{not empty userBean.userList and sessionBean.sessionUser.userType eq 'admin'}">
                    <p:dataTable
                            id="userDataTable"
                            value="#{userBean.userList}"
                            var="user"
                            widgetVar="userTable"
                            filterDelay="400"
                            reflow="true"
                            scrollable="true"
                            scrollHeight="400"
                            paginatorPosition="top"
                            tableStyle="table-layout: auto;"
                            styleClass="borderless">

                        <!-- Global search field -->
                        <f:facet name="header">
                            <p:inputText id="globalFilter" placeholder="Filter table"
                                         onkeyup="toolSearchTrigger('userTable')"/>
                        </f:facet>

                        <!-- Tool ID column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{user.id}" sortBy="#{user.id}">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{user.id}"/>
                        </p:column>

                        <!-- Tool name column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{user.firstName}" sortBy="#{user.firstName}">
                            <f:facet name="header">First name</f:facet>
                            <h:outputText value="#{user.firstName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{user.lastName}" sortBy="#{user.lastName}">
                            <f:facet name="header">Last name</f:facet>
                            <h:outputText value="#{user.lastName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{user.userName}" sortBy="#{user.userName}">
                            <f:facet name="header">Username</f:facet>
                            <h:outputText value="#{user.userName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{user.userType}" sortBy="#{user.userType}">
                            <f:facet name="header">User type</f:facet>
                            <h:outputText value="#{user.userType}"/>
                        </p:column>

                        <!-- Last Column, with the detail button - only clickable if admin -->
                        <p:column styleClass="column-for-button" exportable="false">
                            <c:choose>
                                <c:when test="#{sessionBean.sessionUser.userType eq 'admin'}">
                                    <f:facet name="header">Details</f:facet>
                                    <h:commandButton value="View/Edit"
                                                     styleClass="card-button btn-neutral btn_small"
                                                     action="#{userDetailBean.navigateToUserDetails(user)}"/>
                                </c:when>
                            </c:choose>
                        </p:column>
                    </p:dataTable>
                </h:form>

            </div>
        </section>


        <br/>
        <section class="card-container">
            <div class="card">

                <h:form styleClass="table-form" id="user-tools-list-form"
                        rendered="#{not empty sessionBean.userTools and sessionBean.sessionUser.userType eq 'user'}">
                    <p:dataTable
                            id="userToolsDataTable"
                            value="#{sessionBean.userTools}"
                            var="tool"
                            widgetVar="userToolsTable"
                            filterDelay="400"
                            reflow="true"
                            rows="10"
                            paginator="true"
                            paginatorPosition="top"
                            tableStyle="table-layout: auto;"
                            styleClass="borderless">

                        <!-- Global search field -->
                        <f:facet name="header">
                            <p:inputText id="globalFilter2" placeholder="Filter table"
                                         onkeyup="toolSearchTrigger('userToolsTable')"/>
                        </f:facet>

                        <!-- Tool ID column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.id}" sortBy="#{tool.id}">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{tool.id}"/>
                        </p:column>

                        <!-- Tool name column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.toolName}" sortBy="#{tool.toolName}">
                            <f:facet name="header">Name</f:facet>
                            <h:outputText value="#{tool.toolName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.category}" sortBy="#{tool.category}">
                            <f:facet name="header">Category</f:facet>
                            <h:outputText value="#{tool.category}"/>
                        </p:column>

                        <!-- Download links for Excel and PDF files -->
                        <f:facet name="footer">
                            <br/>
                            <h:outputText value="Download Table Data"/>
                            <br/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/excel.png" width="32"/>
                                <p:dataExporter type="xls" target="userToolsDataTable" fileName="users"/>
                            </h:commandLink>
                            <p:spacer width="10"/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/pdf.png" width="24"/>
                                <p:dataExporter type="pdf" target="userToolsDataTable" fileName="users"/>
                            </h:commandLink>
                        </f:facet>
                    </p:dataTable>
                </h:form>

            </div>
        </section>

    </ui:define>

</ui:composition>